.navbar ul{
    list-style:  none ;
    background-color: rgb(148, 121, 100);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar a{
    color:rgb(85, 40, 40)
    padding:29px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(233, 221, 221);
}
.navbar li{
    float:right

}
*{
    margin: 10px;
    padding: 0px
    font-family: Arial, sans-serif;
    font-size: 18px;
    color:rgb(7, 7, 7)
}


button{
    background-color: aqua;
}
   
